<main class="login-page">

  <header class="header" id="login-page-header">
    <h1 class="welcome-message">Welcome to ShopHub</h1>
  </header>

  <div class="form-row">
    <div class="form-1">
      <h2 class="form-message-1">Already a user? Login</h2>
      <form class="login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="login-button" type="submit">login</button>
        </div>
      </form>
    </div>

    <div class="form-2">
      <h2 class="form-message-2">New? Please signup</h2>

      <form class="signup-form">
        <div class="form-group">
          <label for="name-signup">username:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="signup-button" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>

</main>

{{! <script src="./js/login.js"></script> }}