.departments-page {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

.departments {
  padding: 6rem 0;
  border-bottom: 3px solid var(--color-text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6rem;
}

.departments h1 {
  font-family: var(--font-style-secondary);
  font-size: var(--font-size-medium);
  color: var(--color-text-primary);
}
