* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}
